= render '/shared/search'

.col-md-6.col-md-offset-3
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Search results:

    .panel-body
      %ul
        - @recipes.each do |recipe|
          %p #{recipe.title}
