.navbar.navbar-default.main-nav
  .navbar-header
    %a.navbar-brand its-a-cookbook <i class="fa fa-cutlery"></i>
  %ul.nav.navbar-nav.navbar-right
    %li
      %a + Create New Recipe
    %li
      %a My Recipes
    %li
      %a Sign Out
