.jumbotron
  %h1 It's a Cookbook!
  %p Create and share recipes with the world, find best recipes and add them to favorites
  %p
    = link_to "Register Now", register_path, class: "btn btn-primary btn-lg"
