.jumbotron
  %h1 It's a Cookbook!
  %p Create and share recipes with the world, add them to favorites, search by name or ingredients
  %p <a class="btn btn-primary btn-lg" href="#" role="button">Register Now</a>
