.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Recipes that I've created

    .panel-body
      %table.table
        %tr
          %td Prawn Cocktails
          %td <a href="#">Edit</a>
          %td <a href="#">Delete</a>
        %tr
          %td Flaming Tapas
          %td <a href="#">Edit</a>
          %td <a href="#">Delete</a>
        %tr
          %td Super Tasty Sandwiches
          %td <a href="#">Edit</a>
          %td <a href="#">Delete</a>

.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Favorite recipes

    .panel-body
      %table.table
        %tr
          %td Prawn Cocktails
          %td <a href="#">Remove from list</a>
        %tr
          %td Flaming Tapas
          %td <a href="#">Remove from list</a>
        %tr
          %td Super Tasty Sandwiches
          %td <a href="#">Remove from list</a>
