.col-md-12
  %button(type="button" class="btn btn-primary favorites") + Add to favorites

%h2.recipe-title Name of the recipe
%h4.recipe-author by Mike Gonzalez

.col-md-4
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Ingredients

    .panel-body
      %ul
        %li Eggs
        %li Milk
        %li Flour
        %li Sugar

.col-md-8
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Directions

    .panel-body
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec eu semper velit, et accumsan eros. Quisque purus lacus,
        feugiat faucibus convallis nec, bibendum nec lorem. Donec scelerisque mi
        ac tincidunt bibendum. Suspendisse luctus varius justo a consectetur.
        Nunc tincidunt facilisis ex, in elementum eros hendrerit nec.
        Maecenas volutpat est sed tortor vestibulum, nec imperdiet libero
        ullamcorper. Nam vestibulum nibh id dolor dictum, nec pharetra quam
        consectetur. Curabitur egestas pharetra mi. Nulla interdum, nisl nec
        egestas commodo, erat leo porta ipsum, vel rutrum sapien libero ac velit.
        Nulla egestas nisi enim, nec cursus purus venenatis sed. Proin urna arcu,
        molestie dictum tellus vehicula, sagittis condimentum tellus. Curabitur
        pretium magna interdum elementum euismod. In ipsum elit, blandit nec
        venenatis at, ultricies nec sapien. Curabitur lobortis nec turpis
        tincidunt pellentesque.
      %p
        Nullam fringilla scelerisque auctor. Nam eleifend posuere tellus, ac
        viverra ligula mattis non. Donec ultricies quis ligula ut auctor.
        Praesent ac ligula sagittis leo dictum malesuada. Nam aliquet malesuada
        hendrerit. In at dolor non odio imperdiet blandit. Pellentesque viverra
        in urna quis malesuada.
      %p
        Maecenas imperdiet erat vel imperdiet imperdiet. Aenean semper enim a
        mauris eleifend sagittis. Cras suscipit metus placerat, ultrices enim et,
        mattis mauris. Aliquam erat volutpat. Etiam auctor euismod enim.
        Aenean aliquet, felis ac scelerisque rhoncus, libero eros posuere nisl,
        id fermentum ligula neque sed purus. Nullam id purus eget orci placerat
        suscipit cursus at lorem. Duis a lectus laoreet, dapibus nisi et,
        vulputate velit. Aliquam malesuada enim a lectus tincidunt pellentesque.
        Aenean tincidunt, massa a eleifend viverra, sapien orci tempus mauris,
        sed pretium ante ex a augue.
