/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap.min";
 @import "font-awesome";

footer {
  text-align: center;
}

.main-nav {
  margin-bottom: 5%;
}

.favorites {
  margin-bottom: 20px;
}

.recipe-title,
.recipe-author,
.category-title {
  text-align: center;
  color: #dd4814;
}

.category-title {
  margin-bottom: 3%;
}

.recipe-author {
  margin-bottom: 2%;
}

.search-bar {
  margin-bottom: 4%;
}

.table > tbody > tr > td {
  border-top: none;
}
