= render '/shared/search'

.col-md-6.col-md-offset-3
  .panel.panel-primary
    .panel-heading
      %h3.panel-title #{@category.name}:

    .panel-body
      %ul
        - @category.recipes.each do |recipe|
          %p
            = link_to recipe.title, recipe
